 .send-button {
        background-color: rgb(25, 135, 84);
        color: white;
        padding: 12px 20px;
        margin-left: 10px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 15px;
      }

      .chatInput {
        padding: 12px 15px;
        border-radius: 10px;
        font-size: 15px;
        border-width: 1px;
        flex-grow: 1;
      }

      .input-container {
        display: flex;
        margin-bottom: 60px;
      }
