.msguser {
        display: flex;
        justify-content: end;
        align-items: start;
      }

      .msgrobot {
        display: flex;
        align-items: start;
      }

      .chat-message {
        background-color: rgba(238, 238, 238);
        padding: 15px 20px;
        border-radius: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        max-width: 300px;
      }

      .profile-image {
        width: 45px;
      }