   body {
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 0px;
        margin-bottom: 0px;
      }

      .send-button {
        background-color: rgb(25, 135, 84);
        color: white;
        padding: 12px 20px;
        margin-left: 10px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 15px;
      }

      .chatInput {
        padding: 12px 15px;
        border-radius: 10px;
        font-size: 15px;
        border-width: 1px;
        flex-grow: 1;
      }

      .input-container {
        display: flex;
        margin-bottom: 60px;
      }

      .app-container {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        height: 100vh;
        display: flex;
        flex-direction: column;
      }

      .msguser {
        display: flex;
        justify-content: end;
        align-items: start;
      }

      .msgrobot {
        display: flex;
        align-items: start;
      }

      .chat-message {
        background-color: rgba(238, 238, 238);
        padding: 15px 20px;
        border-radius: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        max-width: 300px;
      }

      .profile-image {
        width: 45px;
      }

      .message-container {
        flex-grow: 1;
        margin-top: 20px;
        overflow: scroll;
        scrollbar-width: none;
      }